/Desafio_01/build/
/JavaApplication42/nbproject/private/
/JavaApplication42/build/
/Desafio-01/nbproject/private/
/Desafio-01/build/
/Desafio-01/dist/
/Desafio-02/nbproject/private/
/Desafio-02/build/
/Desafio_02/nbproject/private/
/Desafio_02/build/
/Arranjo_list/nbproject/private/
/Arranjo_list/build/
/Repeticao/nbproject/private/
/Repeticao/build/
/Imc/nbproject/private/
/Imc/build/
/ContaCorrente/nbproject/private/
/ContaCorrente201/nbproject/private/
/ContaCorrente201/build/
/ExemploPacotes/nbproject/private/
/funcaoInvesa/nbproject/private/
/prjinfoX/nbproject/private/
/prjinfoX/build/
